.header-left {
  display: flex;
  align-items: center;

  a {
    flex-grow: 1;
  }
  .categories {
    flex-grow: 1;
  }
  @include search;
}

.header-right {
  .nav-link {
    color: #000026 !important;
  }
  .btn-login {
    color: #ec5252;
  }
  .btn-danger {
    border: 1px solid #000026;
  }
}
